<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日历</title>
    <link rel="stylesheet" href="__index__/style/code.css">
    <link rel="stylesheet" href="__index__/style/distance.css">
    <link rel="stylesheet" href="__index__/style/initial.css">
    <script>document.documentElement.style.fontSize=document.documentElement.clientWidth / 3.75 + 'px';</script>
</head>

<body>

    <div class="calen_head">
        <a href="javascript:history.back(-1);"> +</a>
    </div>

    <div class="calen_main">

        <div> 
            <img id="preMonth" src="__index__/images/leftx.png" >
            <div>
                    <span id="nowYear">2019年</span>
                    <span id="nowMonth">6月</span>
            </div>
            <img id="nextMonth" src="__index__/images/righty.png">
        </div>

        <div id="weekLine"> 
           <span class="week-item">周日</span>
            <span class="week-item">周一</span>
            <span class="week-item">周二</span>
            <span class="week-item">周三</span>
            <span class="week-item">周四</span>
            <span class="week-item">周五</span>
            <span class="week-item">周六</span> 
        </div>                                                                  <!-- 周期 -->

        <div id="dateWrap">                                                 <!-- 日期 --> 
            <div class="date-line">
                <a href="#"><span class="date-item">1</span></a>
                <a href="#"><span class="date-item">2</span></a>
                <a href="#"><span class="date-item">3</span></a>
                <a href="#"><span class="date-item">4</span></a>
                <a href="#"><span class="date-item">5</span></a>
                <a href="#"><span class="date-item">6</span></a>
                <a href="#"><span class="date-item">7</span></a>
                <a href="#"><span class="date-item">8</span></a>
                <a href="#"><span class="date-item">9</span></a>
                <a href="#"><span class="date-item">10</span></a>
                <a href="#"><span class="date-item">11</span></a>
                <a href="#"><span class="date-item">12</span></a>
                <a href="#"><span class="date-item">13</span></a>
                <a href="#"><span class="date-item">14</span></a>
                <a href="#"><span class="date-item">15</span></a>
                <a href="#"><span class="date-item">16</span></a>
                <a href="#"><span class="date-item">17</span></a>
                <a href="#"><span class="date-item">18</span></a>
                <a href="#"><span class="date-item">19</span></a>
                <a href="#"><span class="date-item">20</span></a>
                <a href="#"><span class="date-item">21</span></a>
                <a href="#"><span class="date-item">22</span></a>
                <a href="#"><span class="date-item">23</span></a>
                <a href="#"><span class="date-item">24</span></a>
                <a href="#"><span class="date-item">25</span></a>
                <a href="#"><span class="date-item">26</span></a>
                <a href="#"><span class="date-item">27</span></a>
                <a href="#"><span class="date-item">28</span></a>
                <a href="#"><span class="date-item">29</span></a>
                <a href="#"><span class="date-item">30</span></a>
                <a href="#"><span class="date-item">31</span></a>
            </div> 
        </div>                                      

    </div>

</body>
<!-- <script src="js/calendar.js"></script> -->
<script src="__index__/js/random.js"></script>
</html>