<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>联系客服</title>
        <link rel="stylesheet" type="text/css" href="__index__/style/kfu.css">
    </head>
    <script>
        document.documentElement.style.fontSize=document.documentElement.clientWidth / 3.75 + 'px';
    </script>
    <body> 
           <div class="login">
                <div class="login_head">
                        <a href="javascript:history.back(-1);"> <img src="__index__/images/return.png"></a>
                         <span>联系客服</span>
                </div>
           </div>
        <img id="img" src="__index__/images/weixin-kefu.jpg">
        <span id="span2">有任何疑问 扫描二维码添加客服微信 </span>
    </body>
</html>