<link rel="stylesheet" href="__admin__/css/font.css">
<link rel="stylesheet" href="__admin__/css/xadmin.css">
<script src="__admin__/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__admin__/js/xadmin.js"></script>
<script type="text/javascript" src="__admin__/js/jquery.min.js"></script>
<script type="text/javascript" src="__admin__/js/jquery-3.3.1.js"></script>
<!-- 兼容IE8 IE9 其实也没啥用谁还用IE哈哈哈，从而兼容栅格 -->
<!-- [if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->