<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        {include file="/index/adminFile" /}
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="admin_name" class="layui-form-label">
                            <span class="x-red">*</span>登录名
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="admin_name" name="admin_name" required="" lay-verify="required"
                                value="{$res.admin_name}" autocomplete="off" class="layui-input">
                            <input type="hidden" name="admin_id" id="admin_id" value="{$res.admin_id}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>将会成为您唯一的登入名
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                        <div class="layui-input-block">
                            <input type="radio" name="admin_role" value="超级管理员" lay-skin="primary" title="超级管理员" {eq name="$res.admin_role" value="超级管理员"}checked {/eq}>
                            <input type="radio" name="admin_role" value="普通管理员" lay-skin="primary" title="普通管理员" {eq name="$res.admin_role" value="普通管理员"}checked {/eq}>
                            <input type="radio" name="admin_role" value="宣传管理员" lay-skin="primary" title="宣传管理员" {eq name="$res.admin_role" value="宣传管理员"}checked {/eq}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>原密码
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="pass"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            6到16个字符
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>新密码
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="admin_pwd"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                        </label>
                        <button  class="layui-btn" lay-filter="edit" lay-submit="">
                            修改
                        </button>
                    </div>
                 </form>
            </div>
        </div>
        <script>
            layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 3) {
                            return '昵称至少得3个字符啊';
                        }
                    },
                });

                //监听提交
                form.on('submit(edit)', function(data) {
                    $.ajax({
                       url : '/admin/index/adminUpdate'
                       ,data : {
                           'admin_id' : data.field.admin_id,
                           'admin_name' : data.field.admin_name,
                           'admin_role' : data.field.admin_role,
                           'admin_pwd' : data.field.admin_pwd,
                           'oldpwd' : data.field.pass,
                       }
                       ,type : 'post'
                       ,dataType : 'json'
                       ,success : function (xhr) {
                           if(xhr.status == 1){
                               layer.alert("修改成功!", {icon: 6}, function() {
                                   //关闭当前frame
                                   xadmin.close();
                                   // 可以对父窗口进行刷新
                                   xadmin.father_reload();
                               });
                            }else if(xhr.status == 2){
                                layer.alert('原密码不正确',{icon:3});
                                return false;
                            }else if(xhr.status == 3){
                                layer.alert('已存在该用户请重试',{icon:4});
                                return false;
                            }else{
                                layer.alert('修改失败',{icon:2});
                                return false;
                            }
                       },error : function () {
                            layer.alert('ajax出错请检查参数是否正确');
                        }
                    });

                    return false;
                });

            });
        </script>
    </body>
</html>